body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

.calculator {
    display: inline-block;
    background: #2e2f38;
    /* gelap */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.display {
    background-color: #c9f2f9;
    /* biru muda */
    color: #000;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: right;
}

table {
    margin: auto;
}

td {
    padding: 6px;
}

td div {
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    font-weight: bold;
    font-size: 18px;
}

td div:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

/* Tombol sesuai warna gambar */
.tombol-angka,
.tombol-operasi {
    background-color: #fff;
    color: #000;
}

.tombol-clear {
    background-color: #f7941d;
    color: #fff;
}

.tombol-sama-dengan {
    background-color: #f7b733;
    color: #fff;
}